<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
* {
    margin: 0;
    padding: 0;
}

.fraseprincipal {
    text-align: center;
    font-family: "Poppins";
    margin-top: 35px;
}

a:hover {
    color: salmon;
}
/*muestra enlaces activos*/
.active {
    color: gold;
}

=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
* {
    margin: 0;
    padding: 0;
}

.fraseprincipal {
    text-align: center;
    font-family: "Poppins";
    margin-top: 35px;
}

a:hover {
    color: salmon;
}
/*muestra enlaces activos*/
.active {
    color: gold;
}

>>>>>>> a56d2234e2ad19f0400ae5adcadb161c7758d96a
